<div class="row col-md-8 col-md-offset-2">
  <div class='form-group'>
    <%= form_tag [@wiki, @collaborator] do %>
    Enter the collaborator's email
    <%= email_field_tag :email %>
    <%= submit_tag "Add collaborator", class: 'form-control' %>
    <% end %>
  </div>
</div>
