<div class='page-nav user-link pull-right'>
  <%= link_to "My profile", user_path(current_user) %>
</div>
</br>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Wikis</h1>
    <% @wikis.each do |wiki| %>
      <% if !current_user.standard? || !wiki.private? %>
      <div class="row">
        <%= link_to wiki.title, wiki %>
      </div>
      <div class="row">
        <p><%= wiki.body %></p>
      </div>  
      <% end %>
    <% end %>
  </div>
</div>